django
django-adminlte3
django-crispy-forms
django-debug-toolbar

# mysqlclient
# pyyaml

## necesario para heroku local
# psycopg2

## heroku remoto
django-heroku
dj-database-url
gunicorn
whitenoise
python-decouple
