{% extends 'base.html' %}

{% load static %}
{% load mis_tags %}


{% block style %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/floating-button-action.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Actividades</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'empresa:actividad_create' %}">Nuevo</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- tabla de contenido -->
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        {% include 'actividad/includes/_tabla.html' %}
                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block floating-button-action %}
<button class="fixed-button-add wobble" type="button">
    <a href="{% url 'empresa:actividad_create' %}">
        <i class="fas fa-plus"></i>
    </a>
</button>
{% endblock %}


{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
