{% extends 'base.html' %}


{% block style %}
    {% block estilos %}
    {% endblock %}
{% endblock %}


{% block content %}
    {% include 'includes/_navbar.html' %}

    <div class="container-fluid">
        {% block contenido %}{% endblock %}
    </div>

{% endblock %}


{% block floating-button-action %}
    {% block boton-accion %}
    {% endblock %}
{% endblock %}

{% block modal %}
    {% block emergente %}
    {% endblock %}
{% endblock %}

{% block js %}
    {% block jscript %}
    {% endblock %}
{% endblock %}
