{% extends 'empresa/base.html' %}

{% load static %}
{% load mis_tags %}


{% block contenido %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {{object|default_if_none:'Nuevo Registro'}}

                        {% if object %}
                            {{object}}
                        {% else %}
                            Nuevo Registro
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    {% include 'empresa/_form.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
