{% extends 'empresa/base.html' %}

{% load static %}
{% load mis_tags %}


{% block contenido %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{object}}</h6>
                </div>
                <div class="card-body">
                    {% include 'empresa/_form.html' %}

                    <a href="{% url object|url_action:'update' object.pk %}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-save"></i>
                        </span>
                        <span class="text">Grabar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
