<form method="post" id="SubmitForm">
    {% csrf_token %}

    <div class="form-group">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="{{object.nombre}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="apellido" placeholder="Apellido">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="documento" placeholder="DNI">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="fecha_nacimiento" placeholder="Fecha de Nacimiento">
    </div>
    
    {% comment %}
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="apellido" placeholder="Apellido">
        </div>
    </div>
    {% endcomment %}
</form>                    
