{% extends 'persona/base.html' %}
{% load static %}
{% load mis_tags %}


{% block estilos %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/floating-button-action.css' %}" rel="stylesheet">
{% endblock %}


{% block contenido %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de {{object_list|verbose_name_plural}}</h6>
        </div>
        <div class="card-body">

            <!-- contenido -->
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento</th>
                            <th>Nacimiento</th>
                            <th>Edad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{object.nombre}}</td>
                            <td>{{object.apellido}}</td>
                            <td>{{object.documento}}</td>
                            <td>{{object.fecha_nacimiento}}</td>
                            <td>{{object.edad}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block boton-accion %}
    <!-- botón de acción -->
    <button class="fixed-button-add wobble" type="button">
        <a href="{% url 'persona:create' %}"><i class="fas fa-plus"></i></a>        
    </button>
{% endblock %}


{% block jscript %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
